<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome, <%= user.first_name %>!</h1>
    <p>You have successfully logged in.</p>
    <a href="/accounts/logout">Logout</a>
</body>
</html>
